Lpub3D/
PowerPoint Material/eclipse.jpg
PowerPoint Material/Build Example.png
PowerPoint Material/Antikythera.pptx
PowerPoint Material/Calendar.png
PowerPoint Material/Differential.mp4
PowerPoint Material/Lego Antikythera Mechanism.mp4
PowerPoint Material/Lego-KMart-Archway.jpg
PowerPoint Material/Lunar Orbit.mp4
PowerPoint Material/Saros Dial.png
PowerPoint Material/ancientcomputer3.jpg
Photos/Original Reference Photos/10x1210ibn245vv.jpg
Photos/Original Reference Photos/19208-550x-antiheader.jpg
Photos/Original Reference Photos/6a00d8341c5dea53ef0133f540b8c3970b-800wi.png
Photos/Original Reference Photos/AntikytheraBottomMedium.jpg
Photos/Original Reference Photos/AntikytheraFrontLarge.jpg
Photos/Original Reference Photos/AntikytheraSideMedium.jpg
Photos/Original Reference Photos/AntikytheraTopLarge.jpg
Photos/Original Reference Photos/antikythera_lego.png
Photos/Original Reference Photos/artifact1.gif
Photos/Original Reference Photos/lego.jpg
Photos/Original Reference Photos/lego-Antikythera-Mech-02.jpg
Photos/Original Reference Photos/lego-Antikythera-Mech-04.jpg
Photos/Original Reference Photos/lego-antikythera.jpg
Photos/Original Reference Photos/lego-antikythera (1).jpg
Photos/Original Reference Photos/lego-left.jpg
Photos/Original Reference Photos/lego-rack.jpg
Photos/Original Reference Photos/lego_antikythera-mechanism.jpg
Photos/Original Reference Photos/maxresdefault.jpg
Photos/Original Build/2014-01-01 16.42.33.jpg
Photos/Original Build/2014-01-01 16.42.41.jpg
Photos/Original Build/2014-01-01 16.42.51.jpg
Photos/Original Build/2014-01-01 16.43.05.jpg
Photos/Original Build/2014-01-01 16.43.15.jpg
Photos/Original Build/IMG_2238.JPG
Photos/Original Build/IMG_2239.JPG
Photos/Original Build/IMG_2240.JPG
Photos/Original Build/IMG_2241.JPG
Photos/Original Build/IMG_2242.JPG
Photos/Original Build/IMG_2243.JPG
Photos/Original Build/IMG_2244.JPG
Photos/Original Build/IMG_2245.JPG
Photos/Original Build/IMG_2248.JPG
Photos/Original Build/IMG_2249.JPG
Photos/Original Build/IMG_2250.JPG
Photos/Original Build/IMG_2252.JPG
Photos/Original Build/IMG_2253.JPG
Photos/Original Build/IMG_2254.JPG
Photos/Original Build/IMG_2255.JPG
Photos/Original Build/IMG_2257.JPG
Photos/Original Build/IMG_2267.JPG
Photos/Original Build/IMG_2268.JPG
Photos/Original Build/IMG_2269.JPG
Photos/Original Build/IMG_2270.JPG
Photos/Original Build/IMG_2271.JPG
Photos/Original Build/IMG_2272.JPG
Photos/Original Build/IMG_2273.JPG
Photos/Original Build/IMG_2277.JPG
Photos/Original Build/IMG_2278.JPG
Photos/Original Build/IMG_2279.JPG
Old mpd Versions/Antikythera v0.23.mpd
Old mpd Versions/Antikythera v0.16.mpd
Old mpd Versions/Antikythera v0.21.mpd
Old mpd Versions/Antikythera v0.24.mpd
Old mpd Versions/Antikythera v1.00.mpd
Old mpd Versions/Antikythera v1.01.mpd
Old mpd Versions/Antikythera v1.02.mpd
Old mpd Versions/Antikythera v1.03.mpd
Old mpd Versions/Antikythera v1.04.mpd
Old mpd Versions/Antikythera v1.05.mpd
Old mpd Versions/Antikythera v1.06.mpd
Old mpd Versions/Antikythera v1.07.mpd
Old mpd Versions/Antikythera v1.08.mpd
Old mpd Versions/Antikythera v1.09.mpd
Old mpd Versions/Antikythera v1.10.mpd
Old mpd Versions/Antikythera v1.11.mpd
Old mpd Versions/Antikythera v2.00.mpd
Old mpd Versions/Antikythera v2.01.mpd
Old mpd Versions/Antikythera v2.02.mpd
Old mpd Versions/Antikythera v2.03.mpd
Old mpd Versions/Antikythera v2.04.mpd
stdout-ldglite
stderr-ldglite
Antikythera v4.00.pdf